/* Reset some default styles for the page */
body, p {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    background-image: url('manager.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Optional: Keeps the background fixed */
}

/* Style the h1 element */
h1 {
    background: rgba(255, 255, 255, 0.7); /* Semi-transparent white background */
    color: black; /* Text color */
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    padding: 20px;
}
